/* General Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

/* Header Styles */
header {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 20px 0;
    text-align: center;
    
}

#main {
    display: flex;
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(135deg, #007bff, #12efff);
    
}

.content {
    display: flex;
    flex-grow: 1;
    margin: 10px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


/* Sidebar Styles */
#sidebar {
    flex: 0 0 20%;
    background: #222;
    color: #ffffff;
    padding: 20px;
    margin: 0;
    width: 20%;
    position: relative;
    left: 0;
}

#sidebar h2 {
    margin: 10px;
}

#forecast {
    flex: 1;
    /* margin-right: 10px;
    margin-top: 10px; */
    margin: 20px 10px 10px 0;
}

input[type=search], select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

button {
    background-color: rgb(251, 251, 114);
    color: black;
    cursor: pointer;
    width: 75%;
}

button:hover {
    background-color: #0056b3;
}

#recent-searches {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recent-searches a {
    color: inherit;
    text-decoration: none;
}

/* Main Content Styles */
/* .current-forecast {
    flex-grow: 1;
    padding-left: 10px;
    top: 0;
    background-color: none;
} */

.weather-card {
    background: rgba(255, 255, 255, .5);
    padding: 20px;
    margin: 0 20px 20px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
}

.hidden {
    display: none;
}

#today {
    flex-grow: 1;
}

#five-day-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#today div, #five-day-forecast div {
    /* margin-bottom: 5px;; */
}
#name-display, .forecast-day {
    font-size: 1.2em;
}

/* Footer Styles */
footer {
    display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    #sidebar {
        
    }

    #forecast {
        
    }
}
