/* General Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-grow: 1;
    min-height: 100vh;

}
img {
    max-width: 100%;
    height: auto;
}

/* Header Styles */
header {
    background: #007bff;
    color: #fbe706;
    padding: 20px 0;
    text-align: center;
}

/* Sidebar Styles */
#sidebar {
    background: #333;
    color: #ffffff;
    padding: 20px;
    width: 100px;
}

#sidebar, #forecast {
    flex: 1;
}

#sidebar h2 {
    margin: 20px 0;
}

input[type=search], select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Main Content Styles */
#forecast {
    flex-grow: 1;
    padding: 20px;
}

#today, #five-day-forecast {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#today div, #five-day-forecast div {
    /* margin-bottom: 5px;; */
}
#name-display, .forecast-day {
    font-size: 1.2em;
}

/* Footer Styles */
footer {
    background: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    #forecast {
        margin-left: 0;
    }
}
