*{
    background: (#ffffff)
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {}

#weather-logo {
    width: 75px;
    height: 75px;
}

#sidebar {
}
.forecast {
    background-color: aqua;
    color: pink;
}

